/* Estilos personalizados */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    height: 100%; /* Garante que o body ocupe toda a altura da janela */
    margin: 0; /* Remove margens padrão */
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em coluna */
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.badge {
    font-size: 0.9em;
}

html, body {
    height: 100%; 
    margin: 0; 
    display: flex;
    flex-direction: column; /
}

footer {
    margin-top: auto; 
}